<nav
  tuiTabBar
  aria-label="Primary navigation"
  [activeItemIndex]="activeItemIndex()"
>
  <a
    tuiTabBarItem
    icon="@tui.plus"
    aria-label="Add transaction"
    [routerLink]="[{ outlets: { sheet: ['new-transactions'] } }]"
  ></a>

  <a tuiTabBarItem routerLink="/" icon="@tui.home" aria-label="Home"></a>

  <a
    tuiTabBarItem
    routerLink="/list"
    icon="@tui.list"
    aria-label="Transactions"
  ></a>

  <a
    tuiTabBarItem
    routerLink="/pending-changes"
    icon="@tui.refresh-cw"
    aria-label="Sync"
  ></a>
</nav>
