<nav tuiTabBar aria-label="Primary navigation">
  <a
    tuiTabBarItem
    icon="@tui.plus"
    aria-label="Add transaction"
    [routerLink]="[{ outlets: {sheet: ['new-transactions'] } }]"
    routerLinkActive
  ></a>
  <a
    tuiTabBarItem
    routerLink="/"
    routerLinkActive
    icon="@tui.home"
    aria-label="Home"
    [routerLinkActiveOptions]="{ exact: true }"
  ></a>

  <a
    tuiTabBarItem
    routerLink="/list"
    routerLinkActive
    icon="@tui.list"
    aria-label="Transactions"
  ></a>
  <a
    tuiTabBarItem
    routerLink="/pending-changes"
    routerLinkActive
    icon="@tui.refresh-cw"
    aria-label="Transactions"
  ></a>
</nav>
