header {
  padding-block-start: max(
    0px,
    calc(var(--safe-area-top) - var(--app-header-lift, 1rem))
  );

  padding-inline-start: var(--safe-area-left);
  padding-inline-end: var(--safe-area-right);
}
