<header
  class="pointer-events-none absolute inset-x-0 top-0 z-20"
  [class.tui-liquid-glass_blur]="true"
>
  <section tuiPlatform="ios" class="pointer-events-auto w-full">
    <tui-app-bar
      [class.tui-liquid-glass_blur]="true"
      style="--t-padding: calc(var(--safe-area-top))"
    >
      @if (header().leading === "back") {
      <button
        tuiAppBarBack
        tuiSlot="start"
        type="button"
        title="{{'header.back' | transloco}}"
        (click)="goBack()"
      ></button>
      } @else {
      <button
        tuiIconButton
        tuiSlot="start"
        type="button"
        iconStart="@tui.menu"
        title="{{'header.openMenu' | transloco}}"
        [tuiDropdown]="menu"
        [tuiDropdownOpen]="menuOpen()"
        (tuiDropdownOpenChange)="menuOpen.set($event)"
      ></button>
      }

      <h1 tuiTitle="m">{{ header().title }}</h1>

      @if (pendingCount() > 0 || hasConflicts()) {
      <button
        tuiIconButton
        tuiSlot="end"
        type="button"
        class="relative"
        [routerLink]="['/pending-changes']"
        [iconStart]="hasConflicts() ? '@tui.triangle-alert' : '@tui.cloud-upload'"
        [title]="hasConflicts() ? 'Synchronization conflicts' : 'Pending changes'"
      >
        <tui-badge-notification
          size="s"
          tuiSlot="top"
          style="inset-inline-end: 0; inset-block-start: 9%"
        >
          {{hasConflicts() ? '!' : pendingCount()}}
        </tui-badge-notification>
      </button>
      }

      <button
        tuiIconButton
        tuiSlot="end"
        type="button"
        iconStart="@tui.settings"
        title="{{'header.settings'| transloco}}"
        [tuiDropdown]="settingsMenu"
        [tuiDropdownOpen]="menuSettingsOpen()"
        (tuiDropdownOpenChange)="menuSettingsOpen.set($event)"
      ></button>
    </tui-app-bar>
  </section>
</header>

<ng-template #menu let-close>
  <tui-data-list>
    <a tuiOption routerLink="/categories" (click)="close()">
      {{'header.categories'| transloco}}
    </a>
  </tui-data-list>
</ng-template>

<ng-template #settingsMenu>
  <tui-data-list>
    <button tuiOption (click)="enableDarkMode()">
      {{'header.switchTheme'| transloco}} @if (darkMode()) {
      <tui-icon icon="@tui.sun"></tui-icon>
      } @else {
      <tui-icon icon="@tui.moon"></tui-icon>
      }
    </button>
    <button
      tuiOption
      type="button"
      [disabled]="syncStatus() === 'connecting' || syncStatus() === 'connected'"
      (click)="connectSynchronization()"
    >
      @switch (syncStatus()) { @case ('connecting') { {{ 'header.syncConnecting'
      | transloco }} } @case ('connected') { {{ 'header.syncConnected' |
      transloco }} } @default { {{ 'header.syncConnect' | transloco }} } }
    </button>

    <div class="flex w-full justify-center">
      Lootrack v{{ buildInfo.version }}
    </div>
  </tui-data-list>
</ng-template>
